/* public */
.pagination {
	ul {
		margin-top: -20px;
	}
}

div[data-toggle="buttons-radio"] {
	button.active {
		color: #fff;
		background-color: #bd362f;
	}
}

.slide-up-down {
    cursor: pointer;
    & > :first-child {
        display: block;
    }
    & > :last-child {
        display: none;
    }
}

.inline {
    display: inline-block;
}

/* matrix*/

.form-horizontal .control-group {
    border-top: none;
}

/* select2 */

@border_color: #CCC;

.select2-search--dropdown .select2-search__field {
    padding: 13px;
}

.select2-container--default .select2-selection--single {
    border-radius: 0;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid @border_color;
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid @border_color;
    border-radius: 0;
}


/* info */

/* info-public-content */
.public-item {
    .item {
        padding: 0px;
        margin: 10px 0 0 0;
        .msg-block {
            background: none repeat scroll 0 0 #FFFFFF;
            border: 1px solid #cccccc;
            box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.05);
            display: block;
            margin-left: 0px;
            padding: 10px;
            position: relative;
            img {
                display: inline-block;
                float: left;
                vertical-align: middle;
                width: 28px;
                height: 28px;
                margin-top: -1px;
                margin-right: 10px;
            }
            .msg {
                display: block;
                margin-top: 13px;
                border-top: 1px solid #dadada;
                padding-top: 5px;
            }
            .right {
                margin-left: 10px;
            }
        }
    }

}

.edu-content {
    height: 490px;
    padding: 15px;
    .edu-messages {
        height: 420px;
        overflow: auto;
        position: relative;
        .public-item
    }
}

.work-content {
    height: 490px;
    padding: 15px;
    .work-messages {
        height: 420px;
        overflow: auto;
        position: relative;
    }
    .public-item
}